.rowOfhome{
margin-left: 8%;
margin-top: 10%;
grid-gap: 1%;

}

.singleColum{
    background-color: white;
    height: 30%;
    width: 23%;
    text-align: center;
   
}


img{
    height: 202px;
    width: 113px;
    margin-top: 11%;
    margin-bottom: 6%;
}