.iinputBox{
    background: transparent;
    /* border:transparent ; */
    margin-top: 5%;
    padding: 12px 72px;
}

.inputBoxSignInBtn{
    background: transparent;
    border:transparent ;
}


.submitArea{
    border: 2px solid black;
    height: 350px;
    width: 400px;
   text-align: center;
   margin-left: 40%;
   margin-top: 3%;
}


.logoImage{
    height: 37px;
    width: 39px;
    margin-bottom: 30px;
   
}

.afterLogo{
    /* margin-left: 10px; */
    /* margin-top: 10px; */
}

.faceBookLogin{
    text-align: center;
    margin-right: 2%;
}


.SignInBtn{
    background-color: #ff3d02;
    color: white;
    border: none;
    border-radius: 5px; 
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

.loginWithSocial{
    /* margin-top: 29%; */
}

.specificMedia{
    /* background-color: aliceblue; */
}


.gapArea{
    text-align: center;
    margin-top: 10%;
}

.faceboorArea{
    line-break: anywhere;
    font-size: 14px;
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .submitArea{
        border: 2px solid black;
        height: 400px;
        width: 400px;
       text-align: center;
       margin-left: 40%;
       margin-top: 7%;
    }

    .gapArea{
        text-align: center;
        margin-top: 20%;
    }
    
}
